body {
  background-color: #0f1f11;
  background-image: url(star.jpg);
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
body *{
  font-family: arial;
}

h1,h2,h3,h4,h5{
  font-weight: normal;
  margin: 0;
}
a,a:hover,a:visited{
  color: #0bbb;
  text-decoration: none;
}
