{%extends 'base.html'%}
{%block title%}
article
{% endblock %}
{%block content%}

      <h1>article LIST</h1>
      <div class="articles">
        {% for article in articles %}
        <div class="article">


        <h2>
          <a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a>
          <p>{{article.snippet}}</p>
          <!-- <img src="{{ article.image.url }}" alt=""> -->
          <p>{{article.date}}</p>
          <p class='author'>added by  {{ article.author.username }}</p>
        </h2>
        </div>
        {% endfor %}
      </div>

{% endblock %}
